<div class="addJobs">
    <nz-layout>
      <nz-sider>
        <div style="width: 200px; margin-top: 60px; text-align: left">
          <ul nz-menu [nzMode]="'inline'" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
  
            <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Overview' : ''">
              <span title>
                  <i nz-icon nzType="apple" nzTheme="outline"></i>
                <span>Overview</span>
              </span>
            </li>
  
            <li nz-submenu>
              <span title>
                  <i nz-icon nzType="android" nzTheme="outline"></i>
                <span>Vendors</span>
              </span>
              <ul>
                <li nz-menu-item>Your Vendors</li>
                <li nz-menu-item>Source Vendors</li>
              </ul>
            </li>
  
            <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Jobs' : ''">
                <span title>
                    <i nz-icon nzType="windows" nzTheme="outline"></i>
                  <span>Jobs</span>
                </span>
              </li>
  
  
            <li nz-submenu>
              <span title>
                  <i nz-icon nzType="youtube" nzTheme="outline"></i>
                <span>Onboarding</span>
              </span>
              <ul>
                <li nz-menu-item>Option 9</li>
                <li nz-menu-item>Option 10</li>
                <li nz-menu-item>Option 11</li>
              </ul>
            </li>
  
            <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Expenses' : ''">
                <span title>
                  <i nz-icon nzType="shopping" nzTheme="outline"></i>
                  <span>Expenses</span>
                </span>
              </li>
  
  
          </ul>
        </div>
  
  
  
      </nz-sider>
      <nz-layout>
        <nz-header>Header</nz-header>
        <nz-content>
          
            <nz-layout class="layout">
              <div class="search" style="background-color:#fff;width:100%;  " >
                  <input style="margin-left: 70px; width: 20%; float: left; margin-top: 20px;"  nzMentionTrigger nz-input [(ngModel)]="inputValue" placeholder="Search Jobs"/>
                  <button style="height:40px;float: right; margin-top:20px; margin-right:20px;" nz-button [nzSize]="size" nzType="primary">Post a job</button>
              </div>


                <nz-header style="width:100%; background-color:#fff; " >
                  <div class="logo"></div>
                  <ul nz-menu [nzMode]="'horizontal'" style="line-height: 64px; float:left;">
                    <li nz-menu-item>Open Jobs</li>
                    <li nz-menu-item>Filled Jobs</li>
                    <li nz-menu-item>Closed Jobs</li>
                  </ul>
                </nz-header>

                <nz-content style="padding:0 50px;margin-top:40px;">
                
                  <!-- itemInfo -->
                  <nz-card style="width: 100%; margin-bottom: 30px;" nzTitle="&nbsp; Graphic Design" [nzExtra]="extraTemplate">
                      <nz-card-tab>
                        <nz-tabset nzSize="large" [(nzSelectedIndex)]="index1">
                          <nz-tab nzTitle="Overview"></nz-tab>
                          <nz-tab nzTitle="New Questions (0)"></nz-tab>
                          <nz-tab nzTitle="New Proposals (0)"></nz-tab>
                          <nz-tab nzTitle="New Messages (0)"></nz-tab>
                        </nz-tabset>
                      </nz-card-tab>


                      Manages by Clara Tan, Dawn Lim
                      <br> 
                      All Your Vendors - Require 1 service
                      <br>
                      From 01/04/2019 to 01/05/2019
                    </nz-card>

                    <nz-card style="width: 100%; margin-bottom: 30px;" nzTitle="&nbsp; Graphic Design" [nzExtra]="extraTemplate">
                        <nz-card-tab>
                          <nz-tabset nzSize="large" [(nzSelectedIndex)]="index1">
                            <nz-tab nzTitle="Overview"></nz-tab>
                            <nz-tab nzTitle="New Questions (0)"></nz-tab>
                            <nz-tab nzTitle="New Proposals (0)"></nz-tab>
                            <nz-tab nzTitle="New Messages (0)"></nz-tab>
                          </nz-tabset>
                        </nz-card-tab>
  
  
                        Manages by Clara Tan, Dawn Lim
                        <br> 
                        All Your Vendors - Require 1 service
                        <br>
                        From 01/04/2019 to 01/05/2019
                      </nz-card>

                      <nz-card style="width: 100%; margin-bottom: 30px;" nzTitle="&nbsp; Graphic Design" [nzExtra]="extraTemplate">
                          <nz-card-tab>
                            <nz-tabset nzSize="large" [(nzSelectedIndex)]="index1">
                              <nz-tab nzTitle="Overview"></nz-tab>
                              <nz-tab nzTitle="New Questions (0)"></nz-tab>
                              <nz-tab nzTitle="New Proposals (0)"></nz-tab>
                              <nz-tab nzTitle="New Messages (0)"></nz-tab>
                            </nz-tabset>
                          </nz-card-tab>
    
    
                          Manages by Clara Tan, Dawn Lim
                          <br> 
                          All Your Vendors - Require 1 service
                          <br>
                          From 01/04/2019 to 01/05/2019
                        </nz-card>

                        <nz-card style="width: 100%; margin-bottom: 30px;" nzTitle="&nbsp; Graphic Design" [nzExtra]="extraTemplate">
                            <nz-card-tab>
                              <nz-tabset nzSize="large" [(nzSelectedIndex)]="index1">
                                <nz-tab nzTitle="Overview"></nz-tab>
                                <nz-tab nzTitle="New Questions (0)"></nz-tab>
                                <nz-tab nzTitle="New Proposals (0)"></nz-tab>
                                <nz-tab nzTitle="New Messages (0)"></nz-tab>
                              </nz-tabset>
                            </nz-card-tab>
      
      
                            Manages by Clara Tan, Dawn Lim
                            <br> 
                            All Your Vendors - Require 1 service
                            <br>
                            From 01/04/2019 to 01/05/2019
                          </nz-card>

                    







                </nz-content>

              </nz-layout>

              
        </nz-content>
        <!-- <nz-footer>Footer</nz-footer> -->
      </nz-layout>
    </nz-layout> 
  
  
  
  
  </div>